.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  
.card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  