@import url('https://fonts.googleapis.com/css?family=Montderrat:500');

.writer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    margin: 1rem auto 4rem;
  }
  
  .product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto 1rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #1b2840;
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }
  
  .card button:hover {
    opacity: 0.7;
  }